<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Modificar Producto Sucursales</h1>


	<div>
		<label>Producto : </label>  
		<select>
			<option>Producto 1</option>
			<option>Producto 2</option>
			<option>Producto 3</option>
			<option>Producto 4</option>
			<option>Producto 5</option>
			<option>Producto 6</option>

		</select> <br/>

		<label>Stock Disponible: </label> <input type = "text"> </br>
		<label>Stock Actual: </label> <input type = "text"> </br>
		<label>Stock Adicional: </label> <input type = "text"></br>


	</div>

	<table>
		<tr>
			<th> Producto </th>
			<th> Stock</th>
			<th> Fecha de Ingreso</th>
			<th> Registrado Por </th>
			<th> Modificar</th>
		</tr>
		<tr>
			<th> H32 </th>
			<th> 37</th>
			<th> 7/7/7</th>
			<th> SLR</th>
			<th> editar</th>
		</tr>

		<tr>
			<th> AB32 </th>
			<th> 37</th>
			<th> 7/7/7</th>
			<th> SLR</th>
			<th> editar</th>
		</tr>

		<tr>
			<th> XYZ69 </th>
			<th> 37</th>
			<th> 7/7/7</th>
			<th> SLR</th>
			<th> editar</th>
		</tr>
		<tr>
			<th> ijk987 </th>
			<th> 37</th>
			<th> 7/7/7</th>
			<th> SLR</th>
			<th> editar</th>
		</tr>
		
	</table>
	<div >
		<input type = "submit" value  = "guardar">
		<input type = "button" value  = "Limpiar">
	</div>
</body>
</html>