<!Doctype html>
<html lang="es">
<head>
	<title>Modiicar Productos a Sucursale</title>
</head>
<body>
<h1>Modificar Productos a Sucursales</h1>
<label>Producto:</label>
<select>
	<option value="-1">Seleccionar Producto</option>
</select>
<label>Stock Disponible:</label> <input type="text" />
<label>Stock Actual: </label><input type="text" />
<label>Stock Adicional:</label><input type="text" />
<table>
	<tr>
		<th>Producto</th>
		<th>Stock</th>
		<th>Fecha Ingreso</th>
		<th>Registrado por</th>
		<th>Modificar</th>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
</body>
</html>