<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productos JK - Ventas</title>
    <!-- Bootstrap core CSS -->
     {% load staticfiles %}
     <link href="{% static "static/css/bootstrap.min.css"%}" rel="stylesheet">
    <link href="{% static "static/css/ventas.css" rel="stylesheet"%}">

</head>
<body>
    <nav class="navbar navbar-default col-lg-8 col-lg-offset-2">
      <div class="container-fluid">
        <div class="navbar-header col-lg-12">
            <p class="navbar-text col-lg-3">JK Mobile</p>
            <a class="navbar-brand text-center col-lg-4" id="tituloVenta" href="#">REGISTRO DE VENTAS</a>
            <span class="navbar-text col-lg-3 pull-right" id="sucursal">G-59</span>

        </div>
      </div>
    </nav>

    <div class="container">
        <form class="form-sales col-lg-12">
            <h4 class="form-sales-heading col-lg-6" id="fecha">Fecha: 13/03/2015</h4>
            <h4 class="form-sales-heading col-lg-6 pull-right" id="numeroVenta">N° 0000182</h4>
            <div class="row">
                <div class="col-lg-10" id="clientName">
                    <label for="inputName" class="sr-only">Cliente</label>
                    <input type="text" id="inputName" class="form-control" placeholder="Nombre del cliente" required autofocus>
                </div>

                <div class="input-group col-lg-2 id="pormenor"">
                    <button type="button" class="btn btn-success">Por menor</button>
                </div><!-- /input-group -->
            </div>

            <table class="table table-bordered" id="tab_logic">
              <thead>
                <tr>
                  <th class="col-md-1">#</td>

                    <th class="col-md-1">PRODUCTO</th>
                    <th class="col-md-1">   P. >  ,  < </th>




                  <th class="col-md-1">CANT.</th>
                  <th class="col-md-6">DESCRIPCIÓN</th>
                  <th class="col-md-2">P.UNIT</th>
                  <th class="col-md-2">IMPORTE</th>
                </tr>
              </thead>
              <tbody>
                <tr id='addr0'>
                  <th scope="row">1</th>

                  <td id="cmbd0">
                      <select id="cmb0" class ="cmb_producto">
                          <option value = "0">  Elegir .... </option>
                          {% for  producto in  productos %}

                            <option value = "{{ producto.producto_id.id}}">{{producto.producto_id}}</option>
                            
                          {% endfor %}
                      </select>
                  </td>

                  <td>
                    <select>
                        <option value  = "menor" selected> P. menor </option>

                       <option value  = "mayor">P. mayor </option>
                      </select>


                  </td>


                  <td>
                      <input type="text" id="inputCantidad" class="form-control"></input>
                  </td>
                  <td>
                      <input type="text" id="inputProductName" class="form-control"></input>
                  </td>
                  <td>
                      <input type="text" id="unitPrice" class="form-control"></input>
                  </td>
                  <td>
                      <input type="text" id="inputImport" class="form-control"></input>
                  </td>
                </tr>
                <tr id='addr1'>
                </tr>
              </tbody>
            </table>

            <div class="row col-lg-12">
                <div class="col-lg-1">
                    <a id="add_row" class="btn btn-default pull-left">+</a>
                </div>

                <div class="col-lg-1">
                    <a id="delete_row" class="pull-right btn btn-default">-</a>
                </div>

                <div class="col-lg-1 col-lg-offset-6">
                    <span class="col-lg-6">Total</span>
                </div>

                <div class="col-lg-3">
                    <input type="text" id="total" class="form-control col-lg-4"></input>
                </div>
            </div>
            <div class="row col-lg-2 col-lg-offset-10" id="btn-vender">
                <input class="btn btn-primary pull-right" type="submit" value="Vender">
            </div>


        </form>


        <div id = "abc"> 
        </div>


    </div>

    <!-- Javascript for tables -->
    <script src="{% static "static/js/jquery-1.8.3.min.js"%}"></script>
    <!--<script src="{% static "static/js/ventas.js"%}"></script>-->

    <script type="text/javascript">
    $(document).ready(function(){

  
        var pro = [];

                {% for producto in  productos %}


            pro ["{{producto.producto_id.id}}"]= { 
      "id" : "{{producto.producto_id}}",

      "estado":"1",
      "stock" : "{{producto.stock}}",
      "producto": {
                     "codigo":"{{producto.producto_id.codigo}}",
                     "color" :"{{producto.producto_id.get_color_display}}",
                     "id" : "{{producto.producto_id.id}}",
                     "precio_por_mayor":"{{producto.producto_id.precio_x_mayor}}",
                     "precio_por_menor":"{{producto.producto_id.precio_x_menor}}",

                     "marca":{
                        "nombre":"{{producto.producto_id.marca.nombre}}"
                     } ,

                   "tipo_producto":{

                       "nombre":"{{producto.producto_id.tipo_producto.nombre}}"
                    }


                  }

          }
          
        {% endfor %}

       //Cantidad de llaves que hay en el json :/ , eso creo u_u
     // console.log(Object.keys(pro).length)

       // console.log(pro);

        var to_cmb  = pro;
         comAux="";
/*  
 $(".cmb_producto").focus(function () {
        // Store the current value on focus, before it changes
        previous = this.value;
        console.log("testFOCUS")
       
    })
*/
/*
  $("body").delegate('.cmb_producto','change',function(e) {
        // Do something with the previous value after the change
   
     
     var comboActualP = $(this);
     var previo = comboActualP.data('previous');
    // alert("PRevio:"+previo)
     comboActualP.data('previous', comboActualP.val());
     // //console.log("detete"+ahoraK)
     //  //cambiarEstadoOff(previous);
     //  //console.log("es cero?: "+ahoraK);
     // // cambiarEstadoON(comAux)
     // console.log("Ahora:"+comboActualP.val()+"-"+previo)
     //  cambiarEstadoON(comboActualP.val());
     
      //if(comboActualP.val()=="0")
      //{
        //console.log("ceroo"+previousT);
        // if((previo!=undefined && previo!=null && previo !="undefined") || (comboActualP.val()=="0"))
        // {
        //   cambiarEstadoOff(previo);
        //   console.log("estado Change"+previo)  
        // }

        if(comboActualP.val()=="0")
        {
         // alert("PrevioChane: "+previo);
          if(previo!=undefined && previo!=null && previo !="undefined")
          {
           // alert("Change previous")
            cambiarEstadoOff(previo);
          }
          else
          {
            //alert("Change if else")
          }
        }
        else
        {
          cambiarEstadoON(comboActualP.val());
          if(previo!=undefined && previo!=null && previo !="undefined")
          {
            //alert("else previo ");
            cambiarEstadoOff(previo);
          }
          else
          {
           // alert("else else Change previous")
          }
        }
         
        //cambiarEstadoOff
      //}
      //console.log("twinem: "+previous);
       
    });
*/
/*
  $(".cmb_producto").on("focus",function(){
    //create_cmb(to_cmb);
    var ccc=$(this);
    previous = ccc.val();
    console.log("focus: "+previous);
    if(ccc.val()==previous)
    {
      cambiarEstadoOff(previous);  
    }
    
    var iden = ccc.prop("id");
    //console.log("focus : ",create_cmb(to_cmb));
    create_cmb(to_cmb,iden);
    console.log("ennfocandooo");
    
  });
 
*/
 $("body").delegate('.cmb_producto','focus', function () {
    var ppp = $(this);
    console.log("dllFocus:",ppp.val());
    //console.log(this.value);
    var pre = ppp.data('previous');
    if(typeof pre !== "undefined" && pre.toString()!="0")
    {
      cambiarEstadoOff(pre);

    }
    create_cmb(to_cmb,ppp.prop("id"));
    ppp.data('previous', ppp.val());
    //console.log("new focuss-"+ddl.val());
}).on('change','.cmb_producto', function () {
    var nnn = $(this);
    console.log("dllChange:",nnn.val())
    console.log(this);
    var previous = nnn.data('previous');
    var actual=nnn.val();
    if(actual.toString()!="0")
    {
      cambiarEstadoON(actual);
    }
    if(previous!="0")
    {
      console.log("dllChangePrevv:",previous)
      cambiarEstadoOff(previous);
    }
    
    nnn.data('previous',actual);  
    
    //create_cmb(to_cmb,nnn.prop("id"));
    //ddl.data('previous', ddl.val());
    //console.log("new change");
});


/*
$("body").delegate(".cmb_producto",'focus',function()
  {
    
    var oldDato= $(this);
    var previo = oldDato.data('previous');
    

     if(typeof previo !== "undefined" && previo!="0")
      {
        //console.log("focus")
        console.log("Previo indefinido:",previo)
        console.log("Valores: "+previo+"-"+oldDato.val())
        //alert("Focus change estsado off");

        var id = oldDato.prop("id");
        console.log("id: ",id);
        var idCmb=to_cmb[previo].estado;
        if(idCmb=="0")
        {
         cambiarEstadoOff(previo);
          //create_cmb(to_cmb,id);
        }

        
        
      }
      console.log("to_cmb->focus->",to_cmb)
  create_cmb(to_cmb,oldDato.prop("id"));
    // //console.log("focusAlw: ",oldDato.val() );
    // comAux= oldDato.val();
    // cambiarEstadoOff(oldDato.val());
    //alert("focus intro change");
      
    
  });
  */
    function cambiarEstadoOff(llave)
    {
      console.log("on")
      if(llave.toString()!="0")
      {
        to_cmb[llave].estado="1";
        
      }
    }
    function cambiarEstadoON(llave)
    {
      console.log("off");
      if(llave.toString() !="0")
      {
        to_cmb[llave].estado="0";
        
      }
    }

/*
 $("table").delegate(".cmb_producto","change",function(){
    

  //var tt=$('.cmb_producto:last option:selected').val();
    //var p = $(this).val();
   // console.log("producto selected" , p )
   // console.log("Tt: "+tt);
  
});

 var option_list=[]

  */
   

   function create_cmb(lista,iden){


    //console.log("LIsta",lista);
    //var combo = $("#"+iden);
    //console.log("Iden: ",iden)
    //console.log(lista);
    var  auxComb = document.getElementById(iden);
    var combo = (auxComb) ? auxComb:-1;
    //console.log("combix",combo)
    if(parseInt(combo) == -1 )
    {
      console.log("combo nuevo");

      combo = $("<select></select>").attr("class", "cmb_producto").attr("id","cmb"+iden);  
    }
    else
    {
      console.log("crear combo vacio")
       $("#"+iden).empty();
    }
  

    //console.log(lista)
    var keys = Object.keys(lista)

    //console.log(keys)

    $("<option/>" ,{value:0,text: "Elegir..."}).appendTo(combo);
    for(var i = 0  ;  i<keys.length  ; i++) {

          p = lista[keys[i]]
         
          if(p.estado.toString()=="1")
          {
            //console.log("after");

            $("<option />", {value: p.producto.id, text: p.id}).appendTo(combo);
          }

    
      //console.log(p)
     }

    
        
     
     //$("#"+iden).append(combo)
     //console.log("tablar: ",combo);
     return combo;


        

    }



   var i=1;
   
   $("#add_row").click(function(){

           var list = []

          // $(".cmb_producto option:selected").each(function(p){



          //         console.log("p : ",p,"val",$(this).val());


          //         list[p] = $(this).val();



          // });

          //console.log("+++++to_cmb++++++++++" , to_cmb)


         // p = $(".cmb_producto option:selected").last().val()
         // console.log("last va" , p ) 


          // for (var  i = 0 ; i<list.length; i ++){

           //delete to_cmb[p];
          // }

          // for(var i = 0 ;  i < option_selected.length;i++ ){

          //   list[i] = option_selected[i].value
          // }



         // console.log("list",list);



        

            $('#addr'+i).html("<td>"+ (i+1) +"</td><td id= 'cmbd"+i+"'> </td> <td><input name='inputCantidad"+i+"' type='text' class='form-control input-md'  /></td><td><input  name='inputProductName"+i+"' type='text' class='form-control input-md'></td><td><input  name='unitPrice"+i+"' type='text' class='form-control input-md'></td><td><input  name='inputImport"+i+"' type='text' class='form-control input-md'></td>");


            $('#cmbd'+i).append(create_cmb(to_cmb,i));



        $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
        i++;
    });

  });      


    </script>
</body>
</html>
